<!DOCTYPE html>
<html lang="en" ng-app="clioApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>CLIO - Team Lima Design</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bs/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/css/ngDialog.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/css/ngDialog-theme-default.css" rel="stylesheet">
    <link href="/assets/css/searchResult.css" rel="stylesheet">


    <script type="text/ng-template" id="email_form">
      <h1>Email</h1>
      <form ng-submit="submit()">
        E-mail: <input type="email" ng-model="email" required=""/>
        <button class="btn basic_search_button btn-primary form-control" name="commit" type="submit" value="Email Me">
          <span class="visible-lg-inline">Email</span>
        </button>
      </form>
    </script>

    <script type="text/ng-template" id="text_form">
      <h1>Text</h1>
      <form ng-submit="submit()">
        Number to Text: <input type="number" ng-model="number" required=""/>
        <button class="btn basic_search_button btn-primary form-control" name="commit" type="submit" value="Text Me">
          <span class="visible-lg-inline">Text Me</span>
        </button>
      </form>
    </script>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.7/js/ngDialog.js"></script>
    <script src="/assets/js/controllers.js"></script>
  </head>

  <body ng-controller="SearchController">
    <div class="container" style="margin-top: 70px;">
      <div class="header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #002B7F;">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="color:#FFF; font-family:'trajanpro'; text-transform: uppercase;" href="#">Columbia University Libraries / Information Services</a>
            </div>
          </div>
        </nav>
        <h3></h3>
      </div>
      
        
      <div class="jumbotron" ng-hide="hideJumbotron">
        <h1 style="color: #002B7F; font-family:'trajanpro'; text-transform: uppercase; display: block; margin-left: auto; margin-right:auto;">CLIO</h1>
      </div>

      <div class="row marketing">
        
        <!-- HTML for SEARCH BAR -->
      <form ng-submit="search()">
          <div class="form-group row">
              <div class="input-group col-md-8 col-md-offset-2">
                  <input class="form-control" name="q" placeholder="Catalog, Articles, Academic Commons, Library Web" type="text" value="" ng-model="searchText">
                  <div class="input-group-btn">
                      <button class="btn basic_search_button btn-primary form-control" name="commit" type="submit" value="Search">
                          <span class="glyphicon glyphicon-search icon-white"></span> 
                          <span class="visible-lg-inline">Search</span>
                      </button>
                  </div>
              </div>
              <div class="row">
                  <div class ="col-md-1 col-md-offset-3"><label><input type="checkbox" ng-model="book"> Book</label></div>
                  <div class ="col-md-1"><label><input type="checkbox" ng-model="eresource"> Online</label></div>
                  <div class ="col-md-1"><label><input type="checkbox" ng-model="video"> Video</label></div>
                  <div class ="col-md-1"><label><input type="checkbox" ng-model="journal"> Journal</label></div>
                  <div class ="col-md-1"><label><input type="checkbox" ng-model="other"> Other</label></div>
              </div>
          </div>
      </form>

        <!--
        <div name="advanced">
            <a href="" ng-click="advancedSearch = !advancedSearch">
                <span ng-show="advancedSearch"><i class="glyphicon glyphicon-minus-sign"></i></span>
                <span ng-show="!advancedSearch"><i class="glyphicon glyphicon-plus-sign"></i></span>
                <font size="4">Advanced</font>
            </a>
            <div ng-show="advancedSearch" ng-repeat="field in advancedSearchFields">
                <div class="col-md-2 col-md-offset-3">{{field}}</div>
                <div class="col-md-5"><input type="text" name={{field}}></div>
                <br>
            </div>
        </div>
        -->
        <div name="help" ng-hide="hideResults">
            Can't find what you're looking for? Try adding more key words.
          </div>

      </div>

      <div id="results" ng-hide="hideResults">
        <ul class="unstyled" style="list-style: none;">
          <hgroup class="mb20">
            <h1>Search Results</h1>
            <h2 class="lead"><strong class="text-danger">{{totalItems}}</strong> results were found.</h2>               
          </hgroup>
            
          <li class="search-result row" ng-repeat="result in results" >
            <section class="col-md-12">
                <article>
                  <div class="col-md-7">
                    <h3><a href="" ng-click="fullDesc = !fullDesc">{{result.title_display[0]}}</a></h3>
             
                    <div ng-repeat="(key, value) in desc[fullDesc]">
                        <div ng-if="result[value]">
                            <div class="col-md-3">
                                {{key}}
                            </div>
                            <div class="col-md-9">
                                <div ng-repeat="val in result[value]">
                                    {{val}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                    
                  <div class="col-md-2">
                    <ul class="meta-search">
                      <li><a href="" ng-click="email(result.title_display[0],result.call_num)"><i class="glyphicon glyphicon-envelope"></i> Email Info </a></li>
                      <li><a href="" ng-click="text(result.title_display[0],result.call_num)"><i class="glyphicon glyphicon-comment"></i> SMS Info</a></li>
                      <li><i class="glyphicon glyphicon-shopping-cart"></i> <a ng-href="http://clio.cul.columbia.edu:7018/vwebv/patronRequests?sk=patron&bibId={{result['clio_id_display']}}">Place a Hold</span></li>
                      <li><i class="glyphicon glyphicon-download-alt"></i> <a ng-href="https://www1.columbia.edu/sec-cgi-bin/cul/forms/docdel?{{result['clio_id_display']}}">Scan & Deliver</a></li>
                    </ul>
                  </div>
                    
                  <div class="col-md-3">
                    <h3>Location</h3>
                    <div ng-if="result.url_munged_display.length">
                        <div ng-repeat="data in result.url_munged_display" ng-init="temp = data.split('|||');">
                            <a ng-href={{temp[2]}} ng-if=" temp[1].trim()+temp[3].trim() ">Online: {{temp[1].trim()}} {{temp[3].trim()}}</a>
                            <a ng-href={{temp[2]}} ng-if=" !(temp[1].trim()+temp[3].trim()) ">Online</a>
                            <!--{{temp}}-->
                        </div>
                        <br>
                    </div>

                    <div ng-if="result.location_call_number_id_display && result.location_facet[0] != 'Online'">
                        <div ng-if="result.location_facet[0] == 'Offsite' ">
                            <a ng-href="http://www.columbia.edu/cgi-bin/cul/offsite2?{{result['clio_id_display']}}">{{result.call_num[0]}}</a>
                        </div>
                        <div ng-if="result.location_facet[0] != 'Offsite' ">
                            {{result.call_num[0]}}
                        </div>
                        <div ng-if="result.call_num.length > 1">
                            Call Number: {{result.call_num[1]}}
                        </div>
                        <div ng-if="LOCATIONS[result.location_facet[0]]" ng-init="location_data=LOCATIONS[result.location_facet[0]];">
                            <a ng-if="location_data['Floorplan']" ng-href="{{location_data['Floorplan']}}">Floorplan</a><br>
                            <a ng-if="location_data['Call Number Guide']" ng-href="{{location_data['Call Number Guide']}}">Call Number Guide</a>
                            <img ng-src="{{location_data['Map URL']}}" ng-show="fullDesc">
                        </div>
                    </div>
                  </div>
                  <!--  
                  <span class="plus"><a ng-href="http://clio.columbia.edu/catalog/{{result['clio_id_display']}}?counter=1" title="Detailed Info"><i class="glyphicon glyphicon-plus"></i></a></span>
                  -->
                  <a href="" ng-click="fullDesc = !fullDesc">
                      <span class="plus" ng-show="fullDesc"><i class="glyphicon glyphicon-minus"></i></span>
                      <span class="plus" ng-show="!fullDesc"><i class="glyphicon glyphicon-plus"></i></span>
                  </a>    
                </article>
              </section>
          </li>
        </ul>

        <pagination total-items="totalItems" ng-change="pageChanged()"ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
      </div>

      <footer class="footer">
        <p>&copy;Columbia University 2014 - DAPME, Team Lima</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
